footer{
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    line-height: 60px;
    background-color: white;
    border-top: 1px #CCCCCC;
}
.foot_note {
    
    text-align: center;
    position: bottom;
}